
.main__form {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 55px;
    background-image: url(../assets/meeeesi.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}
.formulario{
    color: #fff;
    display: flex;
    padding: 10px;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(39, 39, 39, 0.822);
    width: 90%;
    font-size: 20px;
    h1 {
        color: #0099ff;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casillas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.boton {
    display: flex;
    align-self: flex-start;
}