.g6{
    grid-area: g6;
}

.g5 {
    grid-area: g5;
}
.g4 {
    grid-area: g4;
}
.g3 {
    grid-area: g3;
}
.g2 {
    grid-area: g2;
}
.g1 {
    grid-area: g1;
}

.g0 {
    grid-area: g0;
}

.d6{
    grid-area: d6;
}

.d5 {
    grid-area: d5;
}
.d4 {
    grid-area: d4;
}
.d3 {
    grid-area: d3;
}
.d2 {
    grid-area: d2;
}
.d1 {
    grid-area: d1;
}

.d0 {
    grid-area: d0;
}

.f1{
    grid-area: f1;
}
.f2 {
    grid-area: f2;
}
.f3 {
    grid-area: f3;
}
.c6{
    grid-area: d6;
}

.c5 {
    grid-area: c5;
}
.c4 {
    grid-area: c4;
}
.c3 {
    grid-area: c3;
}
.c2 {
    grid-area: c2;
}
.c1 {
    grid-area: c1;
}

.c0 {
    grid-area: c0;
}